<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MasterClass_ZooApp.Properties.Settings.ZooAppConnectionString"
            connectionString="Data Source=DESKTOP-6D54UBO\KEVINDEVSQL;Initial Catalog=ZooApp;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="MasterClass_ZooApp.Properties.Settings.ZooAppConnectionString1"
            connectionString="Data Source=.\KEVINDEVSQL;Initial Catalog=ZooApp;Persist Security Info=True;User ID=adminyo;Password=321abc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>